{% extends "index.html" %}
{% load i18n %}
{% block title %}{% trans "Matrix" %}{% endblock %}

{% block css_addon %}<style type="text/css">
.hidden { display: none; }
</style>{% endblock %}

{% load common_extras %}

{% block content %}

<h1>{% trans "Learning achievements matrix" %}</h1>
{% if not archives is None %}
    <h2>{% trans "Archives for year:" %} {{archives}}</h2>
{% endif %}

<div class="ui horizontal list" style="margin-bottom: 10px">
    <div class="item">
        <div class="content">
            <h2>{% trans "UEs" %}</h2>
        </div>
    </div>
    {% for ue in ues %}
    <div class="item">
        <div class="content">
            <div class="header">{{ue.semestre}}</div>
            <a href="#ue_{{ue.id}}">{{ue.name}}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% if not archives is None %}
    <p><a href="{% url "ues.matrix" %}" class="ui button purple">{% trans "Return to main list" %}</a></p>
{% else %}
    <p><a style="color:white" href="{% url "ues.self_evaluate_all" %}" class="ui purple button">{% trans "Self evaluation" %}</a></p>
{% endif %}

<table class="ui blue table celled">
{% for ue in ues %}
    <thead id="ue_{{ue.id}}">
        <tr>
            <th>{{ue}}</th>
            {% for value in values %}
                <th class="center aligned">{{value}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for ecue in ue.ecues.all %}
        <tr id="ecue_{{ecue.id}}" style="background-color: #2F56B2; color:white;">
            <td colspan="{{values|length|add:1}}"><i class="dropdown icon"></i> <strong>ECUE - {{ecue.name}}</strong></td>
        </tr>
        {% for course in ecue.courses.all %}
            <tr class="hidden ecue_content_{{ecue.id}}" style="background-color: #a7d4f699;">
                <td colspan="{{values|length|add:1}}">
                    <strong>
                        {% if archives is None %}
                        <a href="{% url "ues.matrix_course" course.slug %}">
                            {{course.name}}
                        </a>
                        {% else %}
                            {{course.name}}
                        {% endif %}
                    </strong>
                </td>
            </tr>
            {% for achievement in course.achievements.all %}
                <tr class="hidden ecue_content_{{ecue.id}}">
                    <td>{{achievement.name}}</td>
                    {% for value in values %}
                        {% if value in existing_achiev_eval|get_item:achievement.id %}
                            {% with current_eval=achievements_evaluations|get_item:achievement.id %}
                                {% if value == current_eval|get_item:"last"|get_item:"value" %}
                                <td class="center aligned positive">
                                    <strong>{{current_eval|get_item:"last"|get_item:"date" }}</strong>
                                {% else %}
                                <td class="center aligned">
                                {% endif %}
                                {% for prec_eval in current_eval|get_item:"history" %}
                                    {% if value == prec_eval.value %}
                                        <em>{{ prec_eval.date }}</em>
                                    {% endif %}
                                {% endfor %}
                                <br />
                                </td>
                            {% endwith %}
                        {% else %}
                        <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% empty %}
                <tr class="hidden ecue_content_{{ecue.id}}">
                    <td class="center aligned disabled" colspan="{{values|length|add:1}}"><em>{% trans "No achievement here yet." %}</em></td>
                </tr>
                {% endfor %}
            {% empty %}
            <tr class="hidden ecue_content_{{ecue.id}}">
                <td class="center aligned disabled" colspan="{{values|length|add:1}}"><em>{% trans "No course here yet." %}</em></td>
            </tr>
            {% endfor %}
        {% empty %}
        <tr>
            <td class="center aligned disabled" colspan="{{values|length|add:1}}"><em>{% trans "No ECUE here yet." %}</em></td>
        </tr>
        {% endfor %}
    </tbody>
    {% empty %}
    <tr>
        <td class="center aligned disabled" colspan="{{values|length|add:1}}"><em>{% trans "No UE here yet." %}</em></td>
    </tr>
    {% endfor %}
</table>



<div class="ui accordion">
<div style="margin-top: 20px;" class="ui title button red">
    Archives
</div>
<div class="content">
<p>{% for promotion_year in promotion_years %}
{% if promotion_year.current %}
<a class="ui button yellow small" href="{% url "ues.matrix" %}">{{ promotion_year.name }}</a>
{% else %}
<a class="ui button yellow small" href="{% url "ues.matrix_archives" promotion_year.value %}">{{ promotion_year.name }}</a>
{% endif %}
{% endfor %}</p>
</div>

<script type="text/javascript">    
$('.ui.accordion')
  .accordion()
;

{% for ue in ues %}
    {% for ecue in ue.ecues.all %}
    $("#ecue_{{ecue.id}}").click(function(){
      $(".ecue_content_{{ecue.id}}").toggle();
    });
    {% endfor %}
{% endfor %}
</script>
{% endblock %}