{% extends "index.html" %}

{% load common_extras %}

{% block content %}
<table class="ui blue table">
{% for ue in ues %}
    <thead>
        <tr>
            <th>{{ue}}</th>
            {% for value in values %}
                <th>{{value}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for ecue in ue.ecues.all %}
        <tr style="background-color: #a7d4f699;">
            <td><a href="{% url "ues.matrix_ecue" ecue.slug %}">{{ecue}}</a></td>
            <td colspan="{{values|length}}"></td>
        </tr>
        {% for achievement in ecue.achievements.all %}
            <tr>
                <td>{{achievement.name}}</td>
                {% for value in values %}
                    {% if value in existing_values_achievements_evaluations|get_item:achievement.id %}
                        <td>
                        {% with current_eval=achievements_evaluations|get_item:achievement.id %}
                            {% if value == current_eval|get_item:"last"|get_item:"value" %}
                                <strong>{{current_eval|get_item:"last"|get_item:"date" }}</strong>
                            {% endif %}
                            {% for prec_eval in current_eval|get_item:"history" %}
                                {% if value == prec_eval.value %}
                                    <em>{{ prec_eval.date }}</em>
                                {% endif %}
                            {% endfor %}
                            <br />
                        {% endwith %}
                        </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
{% endfor %}
</table>
{% endblock %}