{% extends "index.html" %}
{% load i18n %}
{% block title %}{% trans "Course matrix" %}{% endblock %}

{% load common_extras %}

{% block content %}
<h2>{{course}}</h2>

<p>
    <a href="{% url "ues.evaluate_course" course.slug %}" class="ui violet button">{% trans "Self evaluation" %}</a>
    <a style="color:white" href="{% url "ues.matrix" %}" class="ui purple button">{% trans "Return to main list" %}</a>
</p>

<table class="ui blue table">
    <thead>
        <tr>
            <th>{% trans "Achievement" %}</th>
            <th>{% trans "Current evaluation" %}</th>
            <th>{% trans "Older evaluation(s)" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>    
    {% for c_achievement in achievements %}
    <tr>
        <td><strong>{{c_achievement.name}}</strong></td>
            {% if c_achievement.id in achievements_evaluations.keys %}
            {% with current_eval=achievements_evaluations|get_item:c_achievement.id %}
                <td><strong>{{ current_eval|get_item:"last"|get_item:"value" }}</strong> - <em>{{current_eval|get_item:"last"|get_item:"date" }}</em></td>
                <td>{% for prec_eval in current_eval|get_item:"history" %}
                    <span style="font-size: 0.85em; opacity: {{ current_eval|get_item:"history"|length|compute_opacity:forloop.counter0 }};">{{ prec_eval.value }} - <em>{{ prec_eval.date }}</em></span><br />
                {% endfor %}</td>
            {% endwith %}
            <td><a href="{% url "ues.evaluate_achievement" c_achievement.slug %}" class="ui basic button yellow">{% trans "New evaluation?" %}</a></td>
        {% else %}
        <td colspan="3"><a href="{% url "ues.evaluate_achievement" c_achievement.slug %}">{% trans "Non evaluated" %}</a></td>
        {% endif %}
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">{% trans "No achievement to evaluate." %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}