[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django-debug-toolbar = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
pytz = "*"
six = "*"
sqlparse = "*"
Django = "*"
Markdown = "*"
django-cas-ng = "*"
python-memcached = "*"

[requires]
python_version = "3.6"
