{% extends "index.html" %}

{% load matrix_extras %}

{% block content %}
{{ecue}}

<ul>
    
{% for c_acquis in acquis %}
<li>
    <strong>{{c_acquis.nom}}</strong>
    <br />
    {% if c_acquis.id in evaluations_acquis.keys %}
        {% with current_eval=evaluations_acquis|get_item:c_acquis.id %}
            Évalué : <em>{{ current_eval|get_item:"last"|get_item:"value" }} - {{current_eval|get_item:"last"|get_item:"date" }}</em>
            <br />
            {% for prec_eval in current_eval|get_item:"history" %}
                <span style="font-size: 0.8em;">{{ prec_eval.value }} - {{ prec_eval.date }} ;</span>
            {% endfor %}
        {% endwith %}
        <a href="{% url "ues.evaluer_acquis" c_acquis.slug %}">Nouvelle évaluation ?</a>
    {% else %}
    <a href="{% url "ues.evaluer_acquis" c_acquis.slug %}">Non évalué...</a>
    {% endif %}
</li>
{% empty %}
<li>Pas d'acquis d'apprentissage à évaluer !</li>
{% endfor %}
</ul>
{% endblock %}