{% extends "index.html" %}
{% load i18n %}

{% block title %}{% trans "DE homepage" %}{% endblock %}

{% block content %}
<h1>{% trans "Administrative tools" %}</h1>

<p><a href="{% url "de.start_new_year" %}">{% trans "Switch year" %}</a></p>
{% if request.user.is_superuser %}
<p><a href="{% url "de.insert_new_users" %}">{% trans "Insert new users" %}</a></p>
{% endif %}
<h2>{% trans "Students" %}</h2>
<p><a href="{% url "de.list_students" %}">{% trans "List students" %}</a></p>
{% if request.user.is_superuser %}
<p><a href="{% url "teachers.all_students" %}">{% trans "Show all students" %}</a></p>
{% endif %}
<h2>{% trans "Small classes" %}</h2>
{% if request.user.is_superuser %}
<p><a href="{% url "teachers.all_small_classes" %}">{% trans "Show all SC" %}</a></p>
{% endif %}
<p><a href="{% url "de.create_small_classes" %}">{% trans "Create small classes" %}</a></p>
<h2>{% trans "Teachers" %}</h2>
<p><a href="{% url "de.list_teachers" %}">{% trans "List teachers" %}</a></p>
<h2>{% trans "Surveys" %}</h2>
<p><a href="{% url "survey.list_de" %}">{% trans "Survey list" %}</a></p>
{% endblock %}