{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Students list" %}{% endblock %}

{% block content %}
<h1>{% trans "Students list" %}</h1>

<table id="all_students_table" class="ui blue table sortable celled">
<thead>
    <tr>
        <th>{% trans "Student firstname" %}</th>
        <th>{% trans "Student lastname" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Entrance year" %}</th>
        <th>{% trans "Last connection" %}</th>
        <th>{% trans "Cesure?" %}</th>
        <th>{% trans "Groups" %}</th>
    </tr>
</thead>
<tbody>
{% for student in students %}
<tr>
    <td>{{student.user.first_name}}</td>
    <td>{{student.user.last_name}}</td>
    <td>{{student.user.email}}</td>
    <td>{{student.year_entrance}}</td>
    <td data-sort="{{student.user.last_login|date:"Y/m/d"|default_if_none:"0" }}">{{student.user.last_login|default_if_none:"-" }}</td>
    <td>{% if student.cesure %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
    <td>{{student.user.groups.all|join:", "}}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#all_students_table').DataTable({
        "language": {
            "url": "{% static "js/French.json" %}",
        },
        "lengthMenu": [ 50, 100, 250, 1000 ],
        "pageLength": 50,
    }
    );
} );
</script>
{% endblock %}