{% extends "index.html" %}

{% block content %}
    {% for small_classe in classes %}
        <h2>{{ small_classe.ecue }}</h2>
        <ul>
            {% for student in small_classe.students.all %}
                <li>
                    {{ student }} - 
                    <a href="{% url "ues.status_student" small_classe.id student.id %}">Status</a> - 
                    <a href="{% url "ues.evaluate_student_all" small_classe.id student.id %}">Overall evaluation</a>
                </li>
            {% empty %}
                <li>No student enrolled yet.</li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No class assigned yet.</p>
    {% endfor %}
{% endblock %}