{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Teacher homepage" %}{% endblock %}

{% load common_extras %}

{% block content %}


<div style="margin-bottom: 20px;" class="ui accordion">
<div class="ui title button red">
    Archives
</div>
<div class="content">
<p>{% for school_year in school_years %}
<a class="ui button yellow small" href="{% url "teachers.all_students_archives" school_year.order %}">{{ school_year.name }}</a>
{% endfor %}</p>
</div>
</div>

<table id="all_students_table" class="ui blue table sortable celled">
    <thead>
        <tr>
            <th>{% trans "Student name" %}</th>
            {% for ue in ues %}
            <th>{{ue}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student_id, student in students.items %}
        {% with evaluations=evaluations_sorted|get_item:student_id %}
        <tr>
            <td>{{ student }}</td>
            {% for ue in ues %}
                {% if evaluations %}
                    {% with evaluation=evaluations|get_item:ue.id %}
                    {% if evaluation.count > 0 %}
                    <td>{{ evaluation.sum|divide:evaluation.count|floatformat:2 }} ({{ evaluation.count|floatformat:0 }} {% trans "grades" %})</td> 
                    {% else %}
                    <td class="error">-</td>
                    {% endif %}
                    {% endwith %}
                {% else %}
                    <td class="error">-</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endwith %}
        {% empty %}
        <tr><td colspan="{{ues|length|add:1}}">{% trans "No student enrolled yet." %}</td></tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="active">
            <td><em>{% trans "Average of the class" %}</em></td>
            <td colspan="{{ues|length}}"></td>
        </tr>
    </tfoot>
</table>

<div class="ui accordion">
<div style="margin-top: 20px;" class="ui title button red">
    Archives
</div>
<div class="content">
<p>{% for school_year in school_years %}
<a class="ui button yellow small" href="{% url "teachers.all_students_archives" school_year.order %}">{{ school_year.name }}</a>
{% endfor %}</p>
</div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript">
$('.ui.accordion')
  .accordion()
;


$(document).ready(function() {
    $('#all_students_table').DataTable({
        "language": {
            "url": "{% static "js/French.json" %}",
        },
        "lengthMenu": [ 50, 100, 250, 1000 ],
        "pageLength": 50,
    }
    );
} );
</script>
{% endblock %}