{% extends "index.html" %}
{% load i18n %}

{% block title %}{% trans "Student situation" %}{% endblock %}

{% load common_extras %}

{% block content %}
<h1>{{student}}</h1>
<h2>{{small_class}}</h2>
<h3>{% trans "Course:" %} {{small_class.course}}</h3>
<p><a href="{% url "teachers.evaluate_student_all" small_class.id student.id %}">{% trans "Overall evaluation" %}</a></p>

<table class="ui blue table">
    <thead>
        <tr>
            <th>{% trans "Achievement" %}</th>
            <th>{% trans "Evaluation" %}</th>
            {% for value in values %}
                <th>{{value}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for achievement in small_class.course.achievements.all %}
        <tr>
            <td>{{achievement.name}}</td>
            <td><a href="{% url "teachers.evaluate_achievement_student" small_class.id student.id achievement.slug %}">{% trans "Evaluate" %}</a></td>
            {% for value in values %}
                {% if value in existing_achiev_eval|get_item:achievement.id %}
                    <td>
                    {% with current_eval=achievements_evaluations|get_item:achievement.id %}
                        {% if value == current_eval|get_item:"last"|get_item:"value" %}
                            <strong>{{current_eval|get_item:"last"|get_item:"date" }}</strong>
                        {% endif %}
                        {% for prec_eval in current_eval|get_item:"history" %}
                            {% if value == prec_eval.value %}
                                <em>{{ prec_eval.date }}</em>
                            {% endif %}
                        {% endfor %}
                        <br />
                    {% endwith %}
                    </td>
                {% else %}
                <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}