.no_answer {
    font-style: italic;
    color: rgb(0, 0, 0, 0.4);
    list-style: none;
}

body {
    color: black;
}

p {
    margin-top: 5px;
}

a .icon {
    color: black;
}

.larger {
    font-size: 1.2em;
}

.grid_container_survey {
    display: grid;
    row-gap: 30px;
    column-gap: 5px;
    grid-template-columns: 30px repeat(2, 15px) 29px 29px repeat(3, 15px) 5px 1fr;
    margin-bottom: 15px;
    margin-top: 25px;
}

.grid_container_survey i.icon {
    margin-right: 0px;
}

form.answer textarea {
    display: block;
    width: 500px;
    margin-left: 25px;
    margin-bottom: 15px;
}

form.answer input[type=text] {
    margin-left: 15px;
    margin-bottom: 15px;
}

form.answer li {
    list-style: none;
}

.grid_container_survey_list {
    display: grid;
    row-gap: 10px;
    column-gap: 5px;
    grid-template-columns: repeat(6, 18px) 5px 1fr 150px 150px;
}

a.nolink {
    color: black;
}

.grid_container_survey_list i.icon {
    margin-right: 0px;
}

.grid_container_survey_list .large_cell {
    grid-column: 1 / span 5;
    color: rgb(0, 0, 0, 0.2);
    text-align: center;
}

form.answer p.description {
    margin-top: 15px;
}

form.answer div {
    margin-left: 20px;
}