.no_answer {
    font-style: italic;
    color: rgb(0, 0, 0, 0.4);
}

body {
    color: black;
}

a .icon {
    color: black;  
}

.larger {
    font-size: 1.5em;
}

.gridcontainer {
    display: grid;
    row-gap: 30px;
    column-gap: 5px;
    grid-template-columns: repeat(3, 15px) 29px 29px repeat(3, 15px) 5px 1fr;
}

.gridcontainer i.icon {
    margin-right: 0px;
}

form.answer textarea {
    display:block;
}