.no_answer {
    font-style: italic;
    color: rgb(0, 0, 0, 0.4);
}

body {
    color: black;
}

a .icon {
    color: black;  
}

.larger {
    font-size: 1.5em;
}

.gridcontainer {
    display:grid;
    grid-template-columns: 125px 1fr;
    grid-gap: 20px;
}