{% extends "index.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Log in" %}</h1>
{% if error %}
<p class="text-error"><strong>{% trans "Unknown user or wrong password." %}</strong></p>
{% endif %}
{% if user.is_authenticated %}
{% blocktrans %}You are successfully logged in, {{user.username}}!{% endblocktrans %}
{% else %}
<form method="post" action="." class="ui form">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans "Submit" %}" />
</form>
{% endif %}
{% endblock %}