{% extends "index.html" %}
{% load i18n %}
{% load common_extras %}

{% block title %}{% trans "Survey" %}{% endblock %}
{% block content %}
    <h2>{{survey}}</h2>

    {% for question in survey.questions.all %}
        <p><strong>{{question.content}}</strong></p>
        {% with results=answers_results|get_item:question.id %}
            {% if results.iterable %}
                <ul>
                {% for choice, nb in results.choices.values %}
                    <li>{{ choice.value }} : {{ nb }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <ul>
                {% for answer in results.values %}
                    <li><strong>{{results.authors|get_item:forloop.counter0}}</strong> {{ answer }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}