{% extends "index.html" %}
{% load i18n %}
{% load common_extras %}

{% block title %}{% trans "Survey" %}{% endblock %}
{% block content %}
    <h2>{{survey}}</h2>

    {% for question in survey.questions.all %}
        <p><strong>{{question.content}}</strong></p>
        {% with results=answers_results|get_item:question.id %}
            {% if question.is_iterable %}
                <ul>
                {% for choice, nb in results.choices.values %}
                    <li>{{ choice.value }} : {{ nb }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="grid_container_results_de">
                    {% for answer in results.values %}
                        <div class="author_result"><em>{{results.authors|get_item:forloop.counter0}}</em></div>
                        <div>{{ answer|linebreaks }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}