{% extends "index.html" %}
{% load i18n %}
{% load common_extras %}

{% block title %}{% trans "Survey" %}{% endblock %}
{% block content %}
    <h2>{{survey}}</h2>

    {% for question in survey.questions.all %}
        <p><strong>{{question.content}}</strong></p>
        {% with results=answers_results|get_item:question.id %}
            {% if question.is_iterable %}
                <ul>
                {% for choice, nb in results.choices.values %}
                    <li>{{ choice.value }} : {{ nb }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="grid_container_results_de">
                    {% for answer in results.values %}
                        {% with author=results.authors|get_item:forloop.counter0 author_id=results.authors_ids|get_item:forloop.counter0 %}
                        <div class="small_class_result">                          
                            {% for small_class in profiles_authors|get_item:author_id %}
                                <p>{{small_class.course.name}} (<em>{{small_class.teacher}}</em>)</p>
                            {% empty %}
                                <span class="no_answer">{% trans "No small class known" %}</span>
                            {% endfor %}
                        </div>
                        <div class="author_result"><em>{{author}}</em></div>
                        {% endwith %}
                        <div class="answer_result">{{ answer|linebreaks }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}