{% extends "index.html" %}
{% load i18n %}
{% load common_extras %}

{% block title %}{% trans "Survey list" %}{% endblock %}
{% block content %}
    <h2>{% trans "Surveys" %}</h2>
    <ul>
        {% for survey in object_list.surveys %}
            {% if survey.id in object_list.responses_opened.keys %}
                {% with response=object_list.responses_opened|get_item:survey.id %}
                    <li>
                        {% if not response.sent %}
                            {% trans "Edit your answer to" %}
                        {% else %}
                            {% trans "Display your answer to" %}
                        {% endif %}
                        <a href="{% url "survey.detail" survey.id %}">
                            {{ survey.name }}
                        </a>
                    </li>
                {% endwith %}
            {% else %}
                <li>{% trans "Answer to" %} <a href="{% url "survey.detail" survey.id %}">{{ survey.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>{% trans "Your answers" %}</h2>
    <ul>
        {% for response in object_list.responses %}
            <li><a href="{% url "survey.detail" response.survey.id %}">{{ response.survey.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}