{% extends "index.html" %}
{% load i18n %}
{% load common_extras %}

{% block title %}{% trans "Survey list" %}{% endblock %}
{% block content %}
    <h2>{% trans "Surveys" %}</h2>
    <p><a href="{% url "survey.create_survey_de" %}">{% trans "Create a survey" %}</a></p>
    <div class="grid_container_survey_list">
        {% for survey in object_list.surveys %}
        
            {% if not survey.archived %}
            <div>
                <a href="{% url "survey.edit_de" survey.id %}">
                    <i title="{% trans "Edit the survey" %}" class="edit icon"></i>
                </a>
            </div>
            <div>
                <a href="{% url "survey.clear_de" survey.id %}">
                    <i title="{% trans "Clear the survey" %}" class="undo icon teal"></i>
                </a>
            </div>
            <div>
                <a href="{% url "survey.copy_de" survey.id %}">
                    <i title="{% trans "Copy the survey" %}" class="copy icon blue"></i>
                </a>
            </div>
            <div>
                <a href="{% url "survey.preview_de" survey.id %}">
                    <i title="{% trans "Preview the survey" %}" class="eye icon purple"></i>
                </a>
            </div>
            <div>
                <a href="{% url "survey.reorder_questions_de" survey.id %}">
                    <i title="{% trans "Reorder the questions" %}" class="sort amount down icon yellow"></i>
                </a>
            </div>
            <div>
                {% if survey.opened %}
                <a href="{% url "survey.close_de" survey.id %}">
                    <i title="{% trans "Close the survey" %}" class="unlock icon green"></i>
                </a>
                {% else %}
                <a href="{% url "survey.close_de" survey.id %}">
                    <i title="{% trans "Open the survey" %}" class="lock icon red"></i>
                </a>
                {% endif %}
            </div>
            {% else %}
            <div class="large_cell"><em>{% trans "Archived" %}</em></div>
            <div><i class="folder icon yellow"></i></div>
            {% endif %}
            <div></div>
            <div>
                {% if not survey.archived %}
                    <a href="{% url "survey.edit_de" survey.id %}" class="nolink">
                        {{ survey.name }}
                    </a>
                {% else %}
                    {{ survey.name }}
                {% endif %}
            </div>
            <div>
                {% trans "Promotion" %} {{survey.promotionyear}}
            </div>
            <div>
                <a href="{% url "survey.results_de" survey.id %}">
                    ({% blocktrans count counter=survey.responses.count %}1 answer{% plural %}{{ counter }} answers{% endblocktrans %})
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}