{% extends "index.html" %}
{% load i18n %}
{% load common_extras %}

{% block title %}{% trans "Homepage" %}{% endblock %}
{% block content %}
<p>{% trans "Welcome on this achievement evaluation website!" %}</p>
<h1>{% trans "What is it?" %}</h1>
<p>{% trans "It was specifically designed so students can evaluate themselves on the different parts of the program." %}</p>
{% if request.user|is_teacher %}
    <p>{% trans "As a teacher, it allows you to evaluate your students." %}</p>
{% endif %}
{% if request.user|is_de %}
    <p>{% trans "As DE member, you can manage the promotion." %}</p>
{% endif %}
{% endblock %}